
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f2f2f2;
}

/* Style the image */
img {
  display: block;
  margin: auto;
  max-width: 70%;
  max-height: 600px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

/* Style the text */
h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  color: #444;
}

p, form {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: center;
  color: #555;
}

/* Style the attribution */
.attribution {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  color: #999;
}

/* Style the links */
a {
  color: #666;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.status a:hover{
  text-decoration: none;
}

a:visited {
  color: #666;
}


/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: none;
}

input[type="text"] {
  padding: 1rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

input[type="text"]::placeholder {
  color: #ccc;
}

.btn {
  padding: 1rem;
  font-size: 1.6rem;
  color: #666;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  color: #666;
  background-color: #bbb;
}
