<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',
filename='style.css') }}">
<html>
<head>
    <title>Is {{ name }} alive?</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    <h1>Is {{ name }} alive?</h1>
    <p class="status">{{ status|safe }}</p>
</body>
</html>
