<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',
filename='style.css') }}">
<html>
<head>
    <title>Error</title>
</head>
<body>
    <p>Something went wrong :(</p>
</body>
</html>
