<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Are they alive?</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  </head>
  <body>
    <div class="container">
      <h1>Are they alive?</h1>
      <form method="get" action="/submit">
        <div class="form-group">
          <label for="topic"></label>
          <input type="text" name="topic" id="topic" placeholder="Enter a topic">
          <button type="submit" class="btn">Go</button>
        </div>
      </form>
    </div>
  </body>
</html>
