<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',
filename='style.css') }}">
<html>
<head>
    <title>Not found</title>
</head>
<body>
    <h1>We could not find {{ name }}.</h1>
</body>
</html>
